// -------------------------->
// Main color palette ------->
// -------------------------->

$mainColor_050: #e3edf1;
$mainColor_100: #b9d3db;
$mainColor_200: #8bb5c3;
$mainColor_300: #5d97ab;
$mainColor_400: #3a8199;
$mainColor_500: #176b87;
$mainColor_600: #14637f;
$mainColor_700: #115874;
$mainColor_800: #0d4e6a;
$mainColor_900: #073c57;

// -------------------------->
// Gray color palette ------->
// -------------------------->

$grayColor_100: #919191;

// -------------------------->
// Red color palette -------->
// -------------------------->

$redColor_400: rgb(241, 98, 98);
